---
export interface Props {
	title: string;
	subtitle: string;
	shorttext: string;
	popup: boolean;
	popupID: string;
	providerNames: Array<string>;
	providerLinks: Array<string>;
	providerImages: Array<string>;
}

const {
	title,
	subtitle,
	shorttext,
	image,
	popup,
	popupID,
	providerNames,
	providerLinks,
	providerImages,
} = Astro.props;
---

<div class="neomorphic card">
	<h2 class="pl">{title}</h2>
	<p class="pl">{subtitle}</p>
</div>
<div class="Service m-calc horizontal-item">
	<a class="popupLink" data-popup={"#" + popupID} href={"#" + popupID}>
		<!-- <div class="top-bar"></div> -->
		<div class="header">
			<!-- <h3 class="pl">{title}</h3> -->
			<p class="pl">{shorttext}</p>
		</div>
		<div class="pl headerImage">
			<img src={image} />
		</div>
		<button class={"pl btn__primary popup" + popup} data-popup={"#" + popupID} role="button"
			>Mehr Informationen</button
		>
	</a>
	<div class="providers">
		{
			providerNames.map((name, index) => (
				<div class="providerContainer">
					<div class="providerWrapper">
						<div class="provider">
							<a target="_blank" href={providerLinks[index]}>
								<img src={providerImages[index]} />
								<p>{name}</p>
							</a>
						</div>
					</div>
				</div>
			))
		}
	</div>
</div>
<style>
	h2,
	p {
		color: var(--color-dark);
	}
	.header {
		margin-top: 40px;
	}

	.Service {
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: left;
		width: 700px;
		height: 400px;
		margin-left: -100px !important;
		margin-right: 300px;
		background-color: var(--background-primary);
		border-radius: 20px;
		box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);

		transition: all 0.1s ease-in-out;
	}
	.Service a {
		text-decoration: none !important;
	}
	h2 {
		margin-top: 10px;
		margin-left: 10px;
		font-size: 2.5rem;
		/* text-align: center; */
	}
	.Service .header p {
		padding-top: 0 !important;
		padding-bottom: 10px !important;
		padding-right: 10px !important;
	}
	.Service:hover {
		box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
			inset -0.2rem -0.2rem 0.5rem var(--white) !important;
		transition: all 0.1s ease-in-out;
		cursor: pointer;
	}
	.Service:hover .top-bar {
		height: 30px;
		margin-bottom: 27px !important;
		transition: all 0.1s ease-in-out;
	}
	.m-calc {
		margin: auto 0;
	}
	.top-bar {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		width: 100%;
		height: 20px;
		background-color: var(--color-primary);
		margin-bottom: 40px !important;
		transition: all 0.1s ease-in-out;
	}
	.cbutton {
		background-image: linear-gradient(
			92.88deg,
			var(--background-primary) 10%,
			var(--background-primary-2) 90%
		);
		border-radius: 8px;
		border-style: none;
		box-sizing: border-box;
		color: var(--color-grey);
		cursor: pointer;
		flex-shrink: 0;
		font-size: 14px;
		font-weight: 600;
		height: 50px;
		width: 200px;
		padding: 0 1rem;
		text-align: center;
		transition: all 0.5s;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		margin-left: 10px;
		box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
			inset -0.2rem -0.2rem 0.5rem var(--white);
	}

	.cbutton:hover {
		box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
		transition-duration: 0.1s;
		font-size: 16px;
	}

	.popuptrue {
		display: block;
	}
	.popupfalse {
		display: none;
	}
	.providerContainer {
		position: relative;
		height: 100%;
		width: 100%;
	}
	.providerWrapper {
		position: absolute;
		bottom: 10px;
		width: 100%;
	}

	.providers {
		height: 100px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.provider {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.provider a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.provider p {
		font-size: 1rem;
		font-weight: 800;
		padding: 0;
		margin-top: 10px;
		text-align: center;
	}
	.provider img {
		max-width: 70px;
		max-height: 50px;
		margin: 0 auto;
	}
	.pl {
		padding-left: 10px;
	}
	.btn__primary {
		grid-column: 0.5;
		grid-row: 0.8;
		background: var(--color-primary);
		color: var(--greyLight-1);
		border: none!important;
		border-radius: 1rem;
		padding: 0.5rem 1rem;
		font-size: 1.2rem;
	}
</style>
