---
import Service from "../components/subcomponents/astroService.astro";
export interface Props {
	title: string;
	subtitle: string;
	ID: string;
}

const {title, subtitle, ID} = Astro.props;
---

<section class="horizontal" id={ID}>
	<div class="pin-wrap" id="pinThis-0">
		<div class="animation-wrap to-left" id="animateThis-0">
			<Service
				title="Zertifizierte Datenlöschung"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-0"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Lösung für Sicherheitssoftware"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-1"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Email-Security"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-2"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Domain & DNS"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-3"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Webhosting"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-4"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Firewalllösungen"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-5"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Internetanschlüsse"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-6"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Hardware & Peripheripherie"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-7"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Terra-Gaming"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-8"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Wortmann Telecom"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-9"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="ecoDMS Dokumentenmanagement"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-10"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Telefonielösungen"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-11"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Netzwerklösungen"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-12"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Microsoft Office 365 Lösungen"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-13"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			<Service
				title="Kommunikationslösungen"
				subtitle="Lorem ipsum dolor sit amet."
				shorttext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam. "
				popup={true}
				popupID="popup-14"
				providerNames={["Bitwarden", "AVM", "Nextcloud"]}
				providerLinks={[
					"https://bitwarden.com/de-DE/",
					"https://avm.de/",
					"https://nextcloud.com/de/",
				]}
				providerImages={[
					"https://upload.wikimedia.org/wikipedia/commons/0/03/Bitwarden_Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/AVM-Logo.png/800px-AVM-Logo.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Nextcloud_Logo.svg/141px-Nextcloud_Logo.svg.png",
				]}
			/>
			
			<div class="blob1 blur"></div>
			<div class="blob2 blur"></div>
			<div class="blob3 blur"></div>
			<div class="blob4 blur"></div>
			<div class="blob5 blur"></div>
			<div class="blob6 blur"></div>
			<div class="blob7 blur"></div>
			<div class="blob8 blur"></div>
			<div class="blob9 blur"></div>
			<div class="blob10 blur"></div>
			<div class="blob11 blur"></div>
			<div class="blob12 blur"></div>
			<div class="blob13 blur"></div>
			<div class="blob14 blur"></div>
			<div class="blob15 blur"></div>
			<div class="blob16 blur"></div>
			<div class="blob17 blur"></div>
			<div class="blob18 blur"></div>
		</div>
	</div>
</section>
<style>
	.blob1 {
		position: absolute;
		top: 30vh;
		left: -100px;
		width: 250px;
		height: 150px;
		background-color: rgb(255, 0, 0);
		z-index: 100;
	}
	.blob2 {
		position: absolute;
		top: -20vh;
		left: 2500px;
		width: 300px;
		height: 190px;
		background-color: rgb(255, 196, 0);
		z-index: 100;
	}
	.blob3 {
		position: absolute;
		top: 80vh;
		left: 1500px;
		width: 300px;
		height: 180px;
		background-color: rgb(30, 214, 30);
		z-index: 100;
	}
	.blob4 {
		position: absolute;
		top: 30vh;
		left: 3500px;
		width: 300px;
		height: 150px;
		background-color: rgba(233, 53, 53, 0.781);
		z-index: 100;
	}
	.blob5 {
		position: absolute;
		top: 10vh;
		left: 4000px;
		width: 200px;
		height: 150px;
		background-color: rgb(81, 255, 0);
		z-index: 100;
	}
	.blob6 {
		position: absolute;
		top: 110vh;
		left: 4500px;
		width: 300px;
		height: 190px;
		background-color: rgb(255, 196, 0);
		z-index: 100;
	}
	.blob7 {
		position: absolute;
		top: 80vh;
		left: 5200px;
		width: 300px;
		height: 180px;
		background-color: rgb(30, 214, 30);
		z-index: 100;
	}
	.blob8 {
		position: absolute;
		top: 10vh;
		left: 6000px;
		width: 300px;
		height: 150px;
		background-color: rgb(233, 53, 53);
		z-index: 100;
	}
	.blob9 {
		position: absolute;
		top: 110vh;
		left: 6200px;
		width: 200px;
		height: 150px;
		background-color: rgb(81, 255, 0);
		z-index: 100;
	}
	.blob10 {
		position: absolute;
		top: 90vh;
		left: 7000px;
		width: 300px;
		height: 250px;
		background-color: rgb(255, 196, 0);
		z-index: 100;
	}
	.blob11 {
		position: absolute;
		top: 80vh;
		left: 7700px;
		width: 300px;
		height: 180px;
		background-color: rgb(30, 214, 30);
		z-index: 100;
	}
	.blob12 {
		position: absolute;
		top: 10vh;
		left: 8200px;
		width: 300px;
		height: 150px;
		background-color: rgb(233, 53, 53);
		z-index: 100;
	}
	.blob13 {
		position: absolute;
		top: 60vh;
		left: 8600px;
		width: 300px;
		height: 150px;
		background-color: rgb(152, 53, 233);
		z-index: 100;
	}
	.blob14 {
		position: absolute;
		top: 100vh;
		left: 9200px;
		width: 300px;
		height: 660px;
		background-color: rgb(233, 134, 53);
		z-index: 100;
	}
	.blob15 {
		position: absolute;
		top: 20vh;
		left: 9500px;
		width: 200px;
		height: 160px;
		background-color: rgb(212, 53, 233);
		z-index: 100;
	}
	.blob16 {
		position: absolute;
		top: 50vh;
		left: 11100px;
		width: 300px;
		height: 260px;
		background-color: rgb(53, 233, 53);
		z-index: 100;
	}
	.blob17 {
		position: absolute;
		top: 50vh;
		left: 10100px;
		width: 300px;
		height: 160px;
		background-color: rgb(233, 134, 53);
		z-index: 100;
	}
	.blob18 {
		position: absolute;
		top: 100vh;
		left: 12500px;
		width: 300px;
		height: 660px;
		background-color: rgb(176, 53, 233);
		z-index: 100;
	}
	.servicesContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.services {
	}
	section.horizontal {
		background-color: var(--background-primary);
		box-shadow: inset 0.5rem 0.7rem 4rem var(--greyLight-2),
			inset -0.2rem -0.2rem 0.5rem var(--white);
	}
</style>
