---
export interface Props {
	title: string;
	name: string;
	position: string;
	description: string;
	image: string;
	signature: string;
	ID: string;

}

const {title, name, position, description, image, signature, ID} = Astro.props;
---

<section class="AboutSection" id={ID}>
	<div class="aboutWrapper">
		<div class="aboutContainer imageContainer">
			<img src={image} alt="image" />
		</div>
		<div class="aboutContainer">
			<!-- <h2>{title}</h2> -->
			<h3>{name}</h3>
			<h4>{position}</h4>
			<p>{description}</p>
			<img class="signature" src={signature} />
		</div>
	</div>
	<div class="blob1 blur"></div>
	<div class="blob2 blur"></div>
	<div class="blob3 blur"></div>
	<div class="blob4 blur"></div>
</section>
<style>
	.signature {
		height: 60px;
		margin-top: 10px;
	}
	.imageContainer {
		position: relative;
		left: -50px;
	}
	.imageContainer img{
		/* padding: 50px 50px 50px 50px; */
		/* margin-right: 200px; */
		width: 450px;
		object-fit: cover;
		-webkit-filter: drop-shadow(0.3rem 0.3rem 0.6rem var(--greyLight-2));
		filter: drop-shadow(0.3rem 0.3rem 0.6rem var(--greyLight-2));
	}
	.mask1 {
		-webkit-mask-image: url(./assets/images/mask1.svg);
		-webkit-mask-repeat: no-repeat;
		mask-image: url(./assets/images/mask1.svg);
		mask-repeat: no-repeat;
	}
	.blob1 {
		position: absolute;
		top: 30vh;
		left: -100px;
		width: 250px;
		height: 150px;
		background-color: rgb(255, 0, 0);
		z-index: 100;
	}
	.blob2 {
		position: absolute;
		top: -20vh;
		left: 2500px;
		width: 300px;
		height: 190px;
		background-color: rgb(255, 196, 0);
		z-index: 100;
	}
	.blob3 {
		position: absolute;
		top: 80vh;
		left: 1500px;
		width: 300px;
		height: 180px;
		background-color: rgb(30, 214, 30);
		z-index: 100;
	}
	.blob4 {
		position: absolute;
		top: 30vh;
		left: 3500px;
		width: 300px;
		height: 150px;
		background-color: rgba(233, 53, 53, 0.781);
		z-index: 100;
	}
	h3 {
		font-size: 4rem;
		margin-bottom: 5px!important;
	}
	h4 {
		font-size: 1.3rem;
		margin-top: 0!important;
	}
	.AboutSection {
		height: 100vh;
		width: 100%;
		background-color: var(--background-primary);
	}
	.aboutWrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 10%;
		height: 100%;
	}
	.aboutContainer {
		width: 50%;
	}
	.aboutContainer p{
		padding-left: 0!important;
		font-size: 1.1rem;
		line-height: 1.7rem;
	}

</style>
